ul, ol {
  list-style: none;
}

body, input, textarea {
  font-family: Arial, "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

body {
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  width: 100%;
  position: relative;
  //-webkit-font-smoothing: antialiased;
}

#container {
  position: relative;
  height: 100%;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  &.home {
    #header {
      position: absolute;
      border: none;

      &.animate #header_logo {
        -webkit-animation: opacityAnimation 1.0s ease forwards 1.5s;
        animation: opacityAnimation 1.0s ease forwards 1.5s;
      }

      &.animate #global_menu {
        -webkit-animation: opacityAnimation 1.0s ease forwards 1.9s;
        animation: opacityAnimation 1.0s ease forwards 1.9s;
      }

      &.active {
        background: #ffffff;
      }
    }

    #header_logo {
      opacity: 0;

      .logo a {
        color: #0570bb;
      }
    }

    #global_menu > ul > li > a {
      color: #0570bb;
    }

    #menu_button span {
      background: #0570bb;
    }

    #global_menu {
      opacity: 0;
    }
  }
}

#header_logo {
  position: absolute;
  left: 37px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  .logo {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: block;
  }

  img {
    display: block;
    margin: 0 auto;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
  }

  .mobile_logo_image {
    display: none;
  }
}

#header {
  width: 100%;
  height: 90px;
  z-index: 200;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin: 0 0 59px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#menu_button {
  display: none;
}

#global_menu {
  position: absolute;
  right: 37px;
  top: 0px;

  & > ul {
    position: relative;
    margin: 0;
    font-size: 0;

    & > li {
      display: inline-block;
      position: relative;
      line-height: 1;
      text-align: center;
      font-size: 14px;

      & > a {
        padding: 0 0 0 37px;
        font-size: 14px;
        text-decoration: none;
        height: 90px;
        line-height: 90px;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
}

.megamenu_service_list {
  background: #007995;
}

.megamenu_service_list {
  .headline {
    font-size: 16px;
  }
}

.megamenu_blog_list {
  background: #007995;
}